@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --min-col-width: 270px;
    --col-gap: 12px;
    --row-gap: 12px;
    --grid-gap: 16px;
    --min-container-width: 372px;

    /* theme */
    --background: 92.85% 0.003 286.35;
    --foreground: 18.26% 0.002 286.2;
    --subdued: 37.95% 0.002 286.32;
    --primary: 0 0 0;
    --primary-foreground: 100% 0 0;
    --elevated: 88.85% 0.003 286.35;
    --highlight: 1 0 0;
    /*
    textColor: {
      primary: "#fff",
      subdued: "#a7a7a7",
      negative: "#f15e6c",
      warning: "#ffa42b",
      positive: "#1ed760",
      announcement: "#3d91f4",
    }, */

    @media (prefers-color-scheme: dark) {
      --background: 18.26% 0.002 286.2;
      --foreground: 100.00% 0 0;
      --primary: 1 0 0;
      --primary-foreground: 0 0 0;
      --subdued: 72.87% 0.001 286.36;
      --elevated: 20.95% 0.002 286.23;
      --highlight: 27.72% 0.002 286.28;
    }
  }
}

@layer utilities {
  .grid-layout-sm {
    display: grid;
    grid-gap: var(--col-gap) var(--row-gap);
		grid-template: auto/repeat(auto-fill,minmax(max(var(--min-col-width),25%),1fr));
  }

  .grid-layout {
    display: grid;
    grid-gap: 0 var(--grid-gap) ;
    grid-template-columns: repeat(auto-fill,minmax(226px,1fr));
  }

  .grid-layout-lg {
    display: grid;
    grid-gap: 0 var(--grid-gap) ;
    grid-template-columns: repeat(auto-fill,minmax(183px,1fr));
  }
}

@layer utilities {
  .carousel {
    overflow: hidden;
    scroll-behavior: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
  }
}

.transparent-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.transparent-scrollbar::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;

}

.transparent-scrollbar {
  /* background-image is set to solid linear gradient to make sure that the background of the container stays the same regardless of the change in the background-color property. This makes transition for the background-color possible without affecting the container's background.*/
  background-image: linear-gradient(oklch(var(--background)),oklch(var(--background)));
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.transparent-scrollbar:hover {
  background-color: color-mix(in oklch,oklch(var(--background)),oklch(var(--foreground)) 30%);
}

.transparent-scrollbar:active {
  background-color: color-mix(in oklch,oklch(var(--background)),oklch(var(--foreground)) 70%);
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 2px;
  border: 4px solid transparent;
}

/*.transparent-scrollbar::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #c0081c 64px, transparent 64px, transparent 100%);
}*/